<div class="card-columns">


  <div class="card" *ngFor="let user of usuarios">
    <img class="card-img-top" [src]="user.avatar">
    <div class="card-body">
      <h5 class="card-title">{{ user.first_name}} {{ user.last_name }}</h5>
      <p class="card-text">This is another card with title and supporting text below. This card has some additional content to make it slightly taller overall.</p>
      <p class="card-text">
        <span class="text-muted">
          ID: {{ user.id }}
        </span>
      </p>
    </div>
  </div>
</div>
